@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    
}
.box, header, .filters{
    width: 100%;
}
header, .filters{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header {
    background-color: #1b1a1ad3;
    height: 70px;
}
header h1{
    color: #fff;
    font-weight: 700;
    font-size: 2.2rem;
}
.filters{
    background: #b0bcbc;
    height: 50px;
    gap: 40px;
}
.filters > label{
    font-size: 1.8rem;
    color: #fff;
    font-weight: 500;
}
#category{
    width: 200px;
    font-size: 1.3rem;
}
.main{
    width: 100%;
    height: max-content;

}
.product-list{
    width: 100%;
    display: grid;
    padding: 20px;
    grid-template-columns: 32% 32% 32%;
    justify-content: space-around;
    gap: 20px;
}
.card{
    border: 1px solid #444;
    height: max-content;
    padding: 10px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow-y: auto;
    padding: 10px 20px;
    border-radius: 15px;
    cursor: pointer;
}
.card img{
    height: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}
.card h2{
    color: #222;
    font-weight: 600;;
    font-size: 1.7rem;
    text-align: center;
}
.card h1{
    color: #232323;
    font-size: 2rem;
    font-weight: 700;
}
.card h1::before{
    content: "$";
}
/* POP UP BOX */
.popup-box{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0, 0, 0);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
    color: #fff;
}
.popup-product{
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.popup-product img{
    height: 300px;
}
.popup-product h2{
    font-size: 2rem;
    text-align: center;
}
#close{
    font-size: 50px;
    cursor: pointer;
}
.popup-product p{
    width: 70%;
    font-size: 1.3rem;
    text-align: center;
}
strong, .popup-product h2{
    color: tomato;
}
#popup-price, #popup-category{
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1.2px;
}